.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

table {
    border-collapse: collapse;
}

table th {
    font-weight: bold;
}

th, td {
    width: 100px;
    height: 30px;
    border: 2px solid;
    text-align: center;
}

#text-content {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn {
    width: 100px;
    height: 50px;
    color: black;
    border: 1px solid black;
}

.btn:hover {
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.row_btn {
    width: 100%;
    height: 100%;
    outline: none;
}

.row_btn:hover {
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.add__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.add_first_name, .add_second_name, .add_average_mark {
    width: 100px;
    height: 20px;
    color: black;
    border: 1px solid black;
    outline: none;
}

.add_second_name {
    margin-left: 10px;
}

.add_average_mark {
    margin: 0 10px;
}

.add__row--btn {
    width: 100px;
    height: 30px;
    color: black;
    border: 1px solid black;
    outline: none;
}
.add__row--btn:hover {
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}